.item {
  padding: 0px;
}

.item-text-wrap {
  height: 100%;
}

#headerBar {
  box-shadow: 1px 1px 5px #888888;
}

.textArea {
  width:100%;
  height: 100%;
  resize: none;
  background-color: #e6f2ff;
}

#mainpane {
  width: 100%;
}

#content {
  width: 100%;
}

.card {
  margin: 2px;
}

#inputInnerDiv {
  height: 105%;
  background-color: #FFF;
  /*box-shadow: 1px 1px 5px #888888;*/
}

#outputinnerDiv {
  margin-bottom: 0px;
  height: 105%;
  background-color:#f2f2f2;
  /*box-shadow: 1px 1px 5px #888888;*/
}

.outputtextArea {
  width: 100%;
  height: 85%;
  margin-left:10px;
  margin-right: 10px;
  margin-top:5px;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 20px;
  position: relative;
  resize: none;
  background-color:#f2f2f2;
  color: darkred;
}

textarea[readonly] {background-color:#f2f2f2 !important;}

.inputtextArea {
  width: 100%;
  height: 85%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top:5px;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 20px;
  position: relative;
  resize: none;
  background-color: #FFF;
  color: darkred;
}

#shareDiv {
    margin-top: 5px;
    height: 50px;
    padding: 0px;
    background-color: transparent;
}

ion-view {
  background-image: url('../img/background.jpg');
  background-size:cover;
}

.item-divider {
  background-color: #387ef5;
  /*box-shadow: 1px 1px 5px #888888;*/
}

#prefferredWordsCard {
  background-color: rgba(255, 255, 255, .0);
}

#inputDiv {
  background-color: #e6f2ff;
  height: 39%;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);*/
}

#outputDiv {
  background-color: #e6f2ff;
  height: 39%;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);*/
}

.card {
  opacity: 1;
}

#prefferedWordsList {
  margin: 0;
  padding: 0;
  list-style: none;
}

#prefferedWordsItem {
  display: inline-table;
  margin: 1px 10px 1px 1px;
  width:auto;
}

#prefferedText {
  padding: 1px 1px 1px 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
  color:darkred;
  width: auto;
}

#helpText {
  padding: 1px 1px 1px 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
  color:darkred;
}

#noFavText {
  padding: 1px 1px 1px 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
  color:darkred;
}

#intermText {
  padding: 1px 1px 1px 5px;
  height:20px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
  color:darkred;
}

.button-icon {
  margin-left: 20px;
}

table {
  margin: 0 auto 0.3em auto;
  border-collapse: collapse;
  width: 90%;
  display: table;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tr#division {
  border-top: 3px solid #6b46e5 !important;
}

td {
  padding: 0 0.2em;
  text-align: center;
  empty-cells: hide;
  background: #fff;
  border: 1px solid #6b46e5;
  width: 30px;
}

samp {
  display: block;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0.5px;
  color: darkred;
}

#favWordDiv {
  height:50px;
}
